# Database Configuration
# 'mongodb' is the service name from your docker-compose file
MONGO_URI=mongodb+srv://<replace me>:<replace me>@cluster0.yhorucz.mongodb.net/?appName=Cluster0

# Server Configuration
PORT=5000

# Security (Yasith will need this for Rewards/Auth)
JWT_SECRET=<replace me>

# Performance Layer (Lissan will need this for the Dashboard)
REDIS_HOST=localhost
REDIS_PORT=6379